@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@300;400;700&family=Oswald&display=swap');

@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

@import "~aos/dist/aos.css";

@import "components/index";

:root {
    --color-bg: #{$creme-white};
    --color-bg-opaque: #{rgba($creme-white, .7)};
    --color-text: #{$dark-blue};
    --color-text-opaque: #{rgba($dark-blue, .7)};
    --color-accent: #{$ukrainian-blue};
    --color-primary: #{$ukrainian-blue};
    --color-secondary: #{$ukrainian-yellow};
    --color-warning: #{$russian-shit};
    --color-danger: #{$russian-blood};
    --color-grey: #{$muted-gray};
    --color-light: #{$pure-white};
    --color-dark: #{$nightly-dark};
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    overflow: hidden scroll;
    transition: all 0.4s ease-in-out;


    &[data-theme="night"] {
        --color-bg: #{$dark-blue};
        --color-bg-opaque: #{rgba($dark-blue, .7)};
        --color-text: #{$ukrainian-yellow};
        --color-text-opaque: #{rgba($ukrainian-yellow, .7)};
        //--color-faded: #242424;
    }

    &.freeze {
        .content-wrapper {
            filter: blur(5px);
        }
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: var(--color-text);

    &:hover {
        color: var(--color-text-opaque);
    }
}

button {
    border: none;
}

.table-container {
    overflow-x: scroll;
    display: block;
    padding: 10px;
}

thead {
    font-weight: 800;
}

tr {
    border-bottom: 1px solid #00000000;
}

tr:hover {
    border-bottom-color: var(--color-text);
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bandera {
    background: var(--color-bg);
    color: var(--color-text);
}

.dropdown-menu {
    background: var(--color-bg);
    border-color: var(--color-text);
    padding: 10px 15px;
    margin-top: 10px !important;
}

body[data-theme="night"] #monobank_logo {
    filter: invert(1);
}

body[data-theme="night"] .btn-close {
    background-color: var(--color-text);
}

.qr-code canvas {
    border: 10px solid #fff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
