.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.4s ease-in-out;

    &.disabled,
    &:disabled {
        filter: grayscale(1);
    }
}

.btn {

    &-primary {
        color: var(--color-bg);
        background-color: var(--color-text);
        border-color: var(--color-text);

        &-outline {
            color: var(--color-bg);
            background-color: transparent;
            border-color: var(--color-bg);

            &:hover,
            &:focus {
                color: var(--color-text);
                background-color: var(--color-bg);
                box-shadow: 0 0 0.25rem 0 var(--color-text);
            }
        }

        &:hover,
        &:focus {
            filter: brightness(0.8);
            color: var(--color-bg);
            background-color: var(--color-text);
            border-color: var(--color-text);
            box-shadow: 0 0 0.25rem 0 var(--color-text);
        }
    }



}
