footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    inset: auto 0 0;
    padding: 1rem;
    height: 3.5rem;
    backdrop-filter: blur(5px);
    z-index: 99;

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1rem;
    }

    .social-share-buttons {
        display: flex;
        gap: 0.5rem;

        a {
            font-size: 1rem;
        }
    }
}
