@import "~vue-select/src/scss/vue-select";

.vs {

    &__dropdown-toggle {
        border-color: var(--color-text);
        padding: 1rem 0.75rem;
    }

    &__dropdown-menu {
        color: var(--color-text);
        background: var(--color-bg);
        border: 1px solid var(--color-text);
    }

    &__dropdown-option {
        color: var(--color-text);

        &--selected {
            &:after {
                content: '\F272';
                font-family: 'bootstrap-icons';
                right: 1rem;
                position: absolute;
            }
        }

        &--highlight {
            color: var(--color-bg);
            background: var(--color-text);
        }
    }

    &__selected {
        flex-shrink: 0;
        margin: 0 0.5rem 0 0;
        line-height: 1.25;
        color: var(--color-bg);
        background-color: var(--color-text);
        border: none;

        &-options {
            flex-direction: row-reverse;
            justify-content: start;
            flex-wrap: nowrap;
            padding: 0;
            overflow: hidden;
        }
    }

    &__search,
    &__search:focus {
        margin: 0;
        line-height: 1.25;
        flex-grow: 0;
    }

    &__open-indicator {
        fill: var(--color-text);
    }

    &__deselect {
        margin-left: 0.5rem;
        fill: var(--color-bg);
    }

    &--open ~ label{
        opacity: 0.65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }

}

//.multiselect {
//
//    &__placeholder {
//        position: absolute;
//        top: 0;
//        left: 0;
//        height: 100%;
//        padding: 1rem 0.75rem;
//        pointer-events: none;
//        border: 1px solid transparent;
//        transform-origin: 0 0;
//        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
//        color: var(--color-text);
//    }
//
//    &--active {
//
//        .multiselect__placeholder {
//            display: inherit;
//            opacity: 0.65;
//            transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
//        }
//    }
//
//    &__tags {
//        border-color: var(--color-text);
//        background: var(--color-bg);
//        font-size: 1rem;
//        padding: 1.75rem 0.75rem;
//
//        &-wrap {
//            display: flex;
//            flex-direction: row-reverse;
//            justify-content: start;
//            overflow: hidden;
//        }
//    }
//
//    &__tag {
//        flex-shrink: 0;
//        color: var(--color-bg);
//        background: var(--color-text);
//
//        &-icon {
//            &:after {
//                color: var(--color-bg);
//            }
//
//            &:focus,
//            &:hover {
//                background: var(--color-danger);
//                color: var(--color-light);
//            }
//        }
//    }
//
//    &__content-wrapper {
//        background: var(--color-bg);
//        border-color: var(--color-text);
//    }
//
//    &__option {
//        color: var(--color-text);
//
//
//        &--selected, &--highlight {
//            background: var(--color-text);
//            color: var(--color-bg);
//        }
//    }
//}
//
//.multiselect__option--selected.multiselect__option--highlight {
//    background: var(--color-danger);
//    color: #fff;
//}
