header {
    position: fixed;
    width: 100%;
    background: var(--color-bg);
    z-index: 99;
}

.navbar {

    .ui-elements {
        display: flex;

        .navbar-toggler {
            color: var(--color-text);
            cursor: pointer;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .nav-link {
        color: var(--color-text);
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    @include media-breakpoint-down(lg) {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar-collapse {

            &.collapsing {
                transition: height 1s cubic-bezier(1, 0, 0.5, 0.8);
            }

            .navbar-nav {
                align-items: center;
                justify-content: center;
                font-size: 2em;
                height: calc(100vh - 65px);
                background-color: var(--color-text);
                border-radius: 0.5rem;
            }

            .nav-item {
                transform: translateX(-100px);
                opacity: 0;
                transition: all 0.4s ease-in-out;

                .nav-link {
                    color: var(--color-bg);
                }
            }

            &.show .nav-item {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

}
