header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    inset: 0 0 auto;
    padding: 1rem;
    height: 3.5rem;
    backdrop-filter: blur(5px);
    z-index: 99;

    .brand-logo {
        flex-shrink: 1;
    }

    .ui-elements {
        display: flex;
        align-items: center;
        gap: 1rem
    }

    .menu {

        .navigation {
            position: fixed;
            height: 0;
            overflow: hidden;
            transition: all 0.4s ease-in-out, height 1s cubic-bezier(1, 0, 0.5, 0.8);
            transition-delay: 0.5s;
            display: flex;
            background: var(--color-text);
            color: var(--color-bg);
            inset: 3.5rem 1rem;
            border-radius: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            gap: 0.5rem;

            &.show {
                height: calc(100vh - 7rem);
                transition-delay: 0s;

                &:not(.transition) .nav-item {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            .nav-item {
                transform: translateX(-100px);
                opacity: 0;
                transition: all 0.4s ease-in-out;

                .nav-link {
                    color: var(--color-bg);
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 600;

                    @include media-breakpoint-down(md) {
                        font-size: 1.5rem;
                    }

                    &:hover,
                    &.exact-active-route {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.action-button {
    color: var(--color-text);
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;

    &:hover,
    &:active {
        color: var(--color-bg);
        background-color: var(--color-text);
    }
}
