.table {
    color: var(--color-text);

    & > :not(caption) > * > * {
        border: none;
    }

    tr {
        border: none;
        &:hover {
            & > * {
                color: inherit;
            }
        }
    }

    &.target-list {
        width: 100%;

        tbody {
            tr {
                &:hover {
                    cursor: pointer;
                    background-color: #00000022;
                }

                td > * {
                    cursor: pointer;
                }
            }
        }

        .target-status {
            .inactive {
                filter: grayscale(0);
                opacity: 0.2;
            }
        }
    }
}


